.control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control-button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #558B2F;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.control-button:hover {
  background: #C5E1A5;
}
.control-button:active {
  background: #689F38;
}

.round-button {
  position: absolute;
  top: calc(50% - 25px);
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background: #FFF;
  border: 2px solid #B0B1B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.round-button:disabled {
  opacity: 0.5;
}
.round-button:hover:enabled {
  background: #C9CACC;
}
.round-button:active:enabled {
  background: #B0B1B2;
}
.prev-button {
  left: -25px;
}
.prev-button img {
  transform: rotate(180deg);
}
.next-button {
  right: -25px;
}
